<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="top-text">
                <h1>Satura pārvaldītājs</h1>
                <p class="lead">Šeit iespējams nomainīt lapas tekstu.</p>
            </div>
        </div>
    </div>
    <!--Main page-->
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form id="mainContentUpdateForm" action="/update_main_content" method="post" role="form">
                <input style="display:none" type="text" id="mainContentId" name="mainContentId">
                <h2>Galvenā lapa</h2>
                <div class="form-group">
                    <label>Virsraksts:</label>
                    <input type="text" id="mainPageHeader" name="mainPageHeader" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Apraksts:</label>
                    <textarea id="mainPageText" name="mainPageText" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label>Uzņēmuma nosaukums:</label>
                    <input type="text" id="companyName" name="companyName" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Uzņēmuma reģ. nr.:</label>
                    <input type="text" id="companyId" name="companyId" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Telefona numurs:</label>
                    <input type="text" id="ourPhone" name="ourPhone" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>E-pasts:</label>
                    <input type="text" id="ourEmail" name="ourEmail" class="form-control"/>
                </div>
                <!-- The rest of the updatable fields should go here (email, phone etc.) .... -->
                <button type="submit" class="btn btn-default">Saglabāt</button>
            </form>
        </div>
    </div>

    <!--Change Password-->
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form id="changePasswordForm" action="/change_password" method="post" role="form">
                <h2>Paroles maiņa</h2>
                <div class="success-error-msg-holder">
                </div>
                <div class="form-group mandatory">
                    <label>Vecā parole:</label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control is-required"/>
                </div>
                <div class="form-group mandatory">
                    <label>Jaunā parole:</label>
                    <input type="password" id="newPassword1" name="newPassword1" class="form-control is-required"/>
                </div>
                <div class="form-group mandatory">
                    <label>Jaunā parole vēlreiz:</label>
                    <input type="password" id="newPassword2" name="newPassword2" class="form-control is-required"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Mainīt paroli" class="btn btn-default"/>
                    <div class="loader-wrapper"></div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom JS for this template -->
<script src="public/js/functions.js"></script>
<script src="public/js/content.js"></script>