<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <form action="/login" method="post" role="form">
                <div class="form-group">
                    <label>Lietotajvārds:</label>
                    <input type="text" id="username" name="username" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Parole:</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
                <button type="submit"class="btn btn-default">Pierakstīties</button>
            </form>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom JS for this template -->
<script src="public/js/functions.js"></script>