<div class="container-fluid">
    <div class="top-text">
        <h1>Ziņas no  klientiem</h1>
        <!--<p class="lead"></p>-->
    </div>
    <div class="table-responsive">
        <table id="messages-table" class="table table-hover table-bordered table-striped table-condensed">
            <tr id="orders-header-row">
                <th>Vārds</th>
                <th>E-pasts</th>
                <th>Kontakttālrunis</th>
                <th>Ziņa</th>
                <th>Ziņas statuss</th>
                <th>Dzēst</th>
            </tr>
        </table>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom JS for this template -->
<script src="public/js/messages.js"></script>