body {
    padding-top:50px;
    padding-bottom:150px;
}
.top-text {
    padding:40px 15px;
    text-align:center;
}

.loader-wrapper {
    visibility:hidden;
    width:27px;
    height:27px;
    position:relative;
    top:10px;
    left:7px;
    display:inline-block;
    border:0px;
    background: url("../images/loading.gif") no-repeat 0 0;
    -webkit-background-size:25px;
    -moz-background-size:25px;
    -o-background-size:25px;
    background-size:25px;
}

.mandatory label:after {
    content:" *"; color:red;
}

.logo {
    margin:auto;
}

/* Table styles */
@media (min-width:768px) {

}

/* Desktop styles */
@media (min-width:992px) {

}


/* Large desktop styles */
@media (min-width:1200px) {

}